<style>.wrapper{min-height:auto;}</style>
<head><title>Change Password</title></head>
<div ng-include src="'partials/include/header.html'"></div>
<div class="main-container">
	<div id="form-page" class="form-page mt0"><!-- form section -->
      <div class="container">
        <div class="row_dummy">
          <div class="col-md-offset-4 col-md-8">
            <div class="row">
              <div class="col-md-6">
                <div class="grey-box"><!-- greay box -->
                <h2 class="tp-title mb0">Change password</h2>
					<p ng-show="flash.status" class="alert {{flash.type}}">{{flash.message}} <a class="close" ng-click="closeFlash()"><i class="fa fa-close"></i></a> </p>  					
					<form id="form1" name="form" role="form" class="" ng-submit="changePassword()">
                    <!-- Text input-->
                     <div class="form-group mb0">
                      <label class="control-label" for="OldPassword">Old Password <span class="required">*</span></label>
                      <input ng-minlength="6" ng-maxlength="20" id="OldPassword" name="OldPassword" type="password" placeholder="Old Password" class="form-control input-md" ng-model="OldPassword" required ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])/">
					  
						<span ng-show="submitted && form.OldPassword.$dirty && form.OldPassword.$error.required" class="help-block error_home">Old Password is required.</span>
						<span class="error_home" ng-show="submitted && form.OldPassword.$error.maxlength">Maximum Old Password character length 20.</span>
						<span class="error_home" ng-show="submitted && form.OldPassword.$error.minlength">Minimum Old Password character length 6.</span>
						<span class="error_home" ng-show="submitted && form.OldPassword.$error.pattern">{{messages.ValidPasswordCheck}}</span>
						
                    
					</div>
					
					<!-- Text input-->
                     <div class="form-group mb0">
                      <label class="control-label" for="NewPassword">New Password <span class="required">*</span></label>
                      <input ng-minlength="6" ng-maxlength="20" id="NewPassword" name="NewPassword" type="password" placeholder="New Password" class="form-control input-md" ng-model="NewPassword" required ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])/"> 
					 
					 <span ng-show="submitted && form.NewPassword.$dirty && form.NewPassword.$error.required" class="help-block error_home">New Password is required.</span>
					   <span class="error_home" ng-show="submitted && form.NewPassword.$error.maxlength">Maximum New Password character length 20.</span>
					    <span class="error_home" ng-show="submitted && form.NewPassword.$error.minlength">Minimum New Password character length 6.</span>
						 <span class="error_home" ng-show="submitted && form.NewPassword.$error.pattern">{{messages.ValidPasswordCheck}}</span>
                    </div>
					<!-- Text input-->					
                    <div class="form-group mb10">
                      <label class="control-label" for="ConfirmPassword">Confirm Password <span class="required">*</span></label>
                      <input ng-minlength="6" ng-maxlength="20" id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control input-md" ng-model="ConfirmPassword" required ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])/" pw-check="NewPassword">
					  <span ng-show="submitted && form.ConfirmPassword.$dirty && form.ConfirmPassword.$error.required" class="help-block error_home">Confirm Password is required.</span>
					   <span class="error_home" ng-show="submitted && form.ConfirmPassword.$error.maxlength">Maximum Confirm Password character length 20.</span>
					     <span class="error_home" ng-show="submitted && form.ConfirmPassword.$error.minlength">Minimum Confirm Password character length 6.</span>
						 <span class="error_home" ng-show="submitted && form.ConfirmPassword.$error.pattern">{{messages.ValidPasswordCheck}}</span>					
							
                    </div>
					
                                     
                    <!-- Button -->
                    <div class="form-group mb10">
                      <label for="button" class="control-label"></label>
                      <button ng-disabled="dataLoading" type="submit" class="hvr-radial-out-orange btn tp-btn tp-btn-orange mt10" name="button" id="">Update</button>
					   <a id="button" name="button" href="{{messages.base_url}}" class="hvr-radial-out-black btn tp-btn tp-btn-grey pull-right mt10">back</a>
					</div>                  
                  </form>				
                </div>
                <!-- /.greay box --> 
              </div>
            </div>
          </div>
        </div>
      </div>
	</div>
</div>
<div ng-include src="'partials/include/footer.html'"></div>