<style>
    .main-container {
        padding-bottom: 0px;
    }

    .wrapper {
        height: auto;
    }

    #footer {
        height: 40px;
        position: relative !important;
    }
</style>

<head>
    <title>{{title}}</title>
</head>
<div ng-include src="'partials/include/header.html'"></div>
<div class="main-container pt0" id="main-container" ng-hide="pageLoading">
    <!--Main container start-->
    <div class="row_dummy one-column grid-media-box1">
        <div class="col-md-12 pl0 pr0">
            <div class="tp-wizard-form wiz-height" id="tp-wizard-form">
                <!-- wizard form -->
                <div class="container pl0 pr0">
                    <div class="row">
                        <p ng-show="flash.status" class="alert {{flash.type}}">{{flash.message}}
                            <a class="close" ng-click="closeFlash()">
                                <i class="fa fa-close"></i>
                            </a>
                        </p>
                        <!-- Smart Wizard -->
                        <div class="swMain attr attr-label label-margin">
                            <div class="pb0 pt0">
                                <!-- <h1 class="title_planattr">{{title}}</h1> -->
                                <div class="container cst-from-container pl0 pr0">
                                    <!--new duumy grids teststruct-->
                                    <div class="row">
                                        <div class="col-md-5 col-lg-5 col-sm-12">
                                            <h1 class="title_planattr mb0">{{title}}</h1>
                                        </div>
                                        <div class="col-md-7 col-lg-7 col-sm-12 pull-right">
                                            <a title="Back" class="hvr-radial-out-black btn tp-btn tp-btn-grey dropdown-toggle pull-right ml20" href="javascript:void(0);" ng-click="navigate('close')">Back</a>
                                            <a ng-click="editplanbenefit()" href="javascript:void(0)" class="hvr-radial-out btn tp-btn tp-btn-blue pull-right mb20 ml20">{{actionBtnText}}</a>
                                            <a href="insuranceplantype/editplanbenefit/{{NextRecord}}/{{sortby}}/{{desc}}" class="hvr-radial-out-orange btn tp-btn tp-btn-orange dropdown-toggle mb20 pull-right ml20"
                                                ng-disabled="nextButton" ng-hide="showBtn">
                                                <i class="fa fa-angle-double-right mr10" aria-hidden="true"></i>Next Plan Benefit</a>
                                            <a href="insuranceplantype/editplanbenefit/{{PreviousRecord}}/{{sortby}}/{{desc}}" class="hvr-radial-out-orange btn tp-btn tp-btn-orange dropdown-toggle mb20 pull-right ml20"
                                                ng-disabled="prevButton" ng-hide="showBtn">
                                                <i class="fa fa-angle-double-left mr10" aria-hidden="true"></i>Prev Plan Benefit</a>
                                            <a title="Back" class="hvr-radial-out-black btn tp-btn tp-btn-grey dropdown-toggle pull-right ml20" href="javascript:void(0);"
                                                ng-click="navigate('planattribute')" ng-hide="showBtn">Go Plan Edit</a>
                                        </div>
                                    </div>
                                    <form name="createPlanBenefitForm" id="createPlanBenefitForm" ng-submit="editplanbenefit()">
                                        <div class="col-md-12 pl0 pr0">
                                            <div class="tp-wizard-form" id="tp-wizard-form">
                                                <!-- wizard form -->
                                                <!-- Smart Wizard -->
                                                <div class="cst-wizard">
                                                    <div class="swMain">
                                                        <div class="col-md-12 mb20 pl0 pr0">
                                                            <div id="wizard" class="swMain test23">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#step-0">
                                                                            <span class="stepDesc">Main
                                                                                <br />
                                                                            </span>
                                                                        </a>
                                                                    </li>                                                                  
                                                                    <li>
                                                                        <a href="#step-1">
                                                                            <span class="stepDesc">Notes/Reference
                                                                                <br />
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#step-2">
                                                                            <span class="stepDesc">Systems
                                                                                <br />
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>



                                                                <div class="wiz-content-border content">
                                                                        <div class="col-md-offset-0-5" id="step-0">
                                                                            <p>
                                                                                <h3>Key Information</h3>
                                                                            </p>
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Plan ID
                                                                                        <span class="required">*</span>
                                                                                    </div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <ui-select data-ng-required="true" ng-model="planBenefit.PlanIdNew" theme="select2" ng-disabled="disabled" title="Choose"
                                                                                            ng-keyup="getMoreResultPlanId($select.search)"
                                                                                            class="select2-cst_100" id="planId" name="planId"
                                                                                            ng-change="setValue();ChangesOccur();">
                                                                                            <ui-select-match placeholder="Select">{{$select.selected.PlanId}} : {{$select.selected.PlanMarketingName}}</ui-select-match>
                                                                                            <ui-select-choices repeat="id in PlanIds | propsFilter: {PlanId: $select.search, PlanMarketingName: $select.search}">
                                                                                                <div>
                                                                                                    <span ng-bind-html="id.PlanId | highlight: $select.search"></span> :
                                                                                                    <span ng-bind-html="id.PlanMarketingName | highlight: $select.search"></span>
                                                                                                </div>
                                                                                            </ui-select-choices>
                                                                                        </ui-select>
                                                                                        <span ng-if="createPlanBenefitForm.planId.$invalid && formInvalid" class="error_home">This field is required. </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Plan Year
                                                                                        <span class="required">*</span>
                                                                                    </div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <select ng-model="planBenefit.BusinessYear" class="form-control" ng-change="ChangesOccur();" id="year" name="year">
                                                                                            <option value="" disabled>Select Year</option>
                                                                                            <option ng-repeat="year in BusinessYears" value="{{year}}">{{year}}</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Benefit Name
                                                                                        <span class="required">*</span>
                                                                                    </div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.BenefitName" id="benefitName" name="benefitName"
                                                                                        />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Issuer Name</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.IssuerName" disabled />
                                                                                        <!-- <select ng-model="planBenefit.IssuerName" class="form-control" ng-disabled={{readOnly}}>
                                                                    <option value="">Select Issuer Name</option>
                                                                    <option ng-repeat="id in IssuerIds" value="{{id.IssuerName}}">{{id.Id}} : {{id.IssuerName}}</option>
                                                                    </select> -->
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">MHM Benefit ID</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <select ng-model="planBenefit.MHMBenefitId" ng-change="ChangesOccur();" class="form-control">
                                                                                            <option value="" disabled>select mhm benefit id</option>
                                                                                            <option ng-repeat="id in mhmBenefitIds" value="{{id.MHMBenefitID}}">{{id.MHMBenefitID}} : {{id.MHMBenefitName}}
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Is Covered</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <select ng-model="planBenefit.IsCovered" ng-change="ChangesOccur();" class="form-control">
                                                                                            <option value="" disabled>select is covered</option>
                                                                                            <option ng-repeat="exp in conditionalExp" value="{{exp.key}}">{{exp.val}}
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <hr>
                                                                            <p>
                                                                                <h3>Cost Sharing Details</h3>
                                                                            </p>
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Cost Sharing Type Tier 1</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <!-- <input type="text" class="form-control" ng-model="planBenefit.CostSharingType" /> -->
                                                                                        <select ng-model="planBenefit.CostSharingType1" ng-change="ChangesOccur();" class="form-control">
                                                                                            <option value="" disabled>Select Cost Sharing Type1</option>
                                                                                            <option ng-repeat="cost in CostSharingTypes" value="{{cost.Key}}">{{cost.Description}}</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Cost Sharing Type Tier 2</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <!-- <input type="text" class="form-control" ng-model="planBenefit.CostSharingType" /> -->
                                                                                        <select ng-model="planBenefit.CostSharingType2" ng-change="ChangesOccur();" class="form-control">
                                                                                            <option value="" disabled>Select Cost Sharing Type2</option>
                                                                                            <option ng-repeat="cost in CostSharingTypes" value="{{cost.Key}}">{{cost.Description}}</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label"> Copay Tier 1 ($)</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" id="copayInnTier1" name="copayInnTier1" ng-model="planBenefit.CopayInnTier1"
                                                                                            Only-digits/>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Copay Tier 2 ($)</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.CopayInnTier2" id="copayInnTier2"
                                                                                            name="copayInnTier2" Only-digits/>
                                                                                    </div>
                                                                                </div> 
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">CoIns Tier 1 (%)</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" id="coinsInnTier1" name="coinsInnTier1" ng-model="planBenefit.CoinsInnTier1"
                                                                                            Only-digits/>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">CoIns Tier 2 (%)</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.CoinsInnTier2" id="coinsInnTier2"
                                                                                            name="coinsInnTier2" Only-digits/>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label"> Rx Max CoIns Tier 1 ($)</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.MaxCoinsInnTier1Amt" id="maxCoinsInnTier1Amt" name="maxCoinsInnTier1Amt"  Only-digits/>
                                                                                    </div>
                                                                                </div>
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                        <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Rx Max CoIns Tier 2 ($)</div>
                                                                                        <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                            <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.MaxCoinsInnTier2Amt" id="maxCoinsInnTier2Amt" name="maxCoinsInnTier2Amt"  Only-digits/>
                                                                                        </div>
                                                                                    </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Maximum Qty Before Copay </div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="number" ng-change="ChangesOccur();" id="maxQtyBeforeCopay" name="maxQtyBeforeCopay" class="form-control" ng-model="planBenefit.MaxQtyBeforeCoPay"
                                                                                        />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!--end row -->
                                                                            <hr>
                                                                            <p>
                                                                                <h3>Limits</h3>
                                                                            </p>
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Service Qty is Limited</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <select ng-model="planBenefit.QuantLimitOnSvc" ng-change="ChangesOccur();" class="form-control">
                                                                                            <option value="" disabled>select service qty</option>
                                                                                            <option ng-repeat="exp in conditionalExp" value="{{exp.key}}">{{exp.val}}
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Limit Qty</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.LimitQty" id="limitQty" name="limitQty"
                                                                                            Only-digits/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Limit Unit</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <!-- <input type="text" class="form-control" ng-model="planBenefit.LimitUnit" /> -->
                                                                                        <select ng-model="planBenefit.LimitUnit" ng-change="ChangesOccur();" class="form-control">
                                                                                            <option value="">Select Limit Unit</option>
                                                                                            <option ng-repeat="lunit in LimitUnits" value="{{lunit}}">{{lunit}}</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--  end id="step-1" -->

                                                                        <div class="col-md-offset-0-5" id="step-1">
                                                                            <p>
                                                                                <h3>Notes</h3>
                                                                            </p>
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Benefit Notes</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input name="PlanBenNotes" type="text" class="form-control" ng-model="planBenefit.PlanBenNotes" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">SBC Text</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <!-- <input type="text" mul class="form-control" ng-model="planBenefit.SBCText"  /> -->
                                                                                        <textarea name="SBCText" class="form-control" ng-model="planBenefit.SBCText" cols="40" rows="6"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Exclusions</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.Exclusions" />
                                                                                    </div>
                                                                                </div>
                                                                                <!-- <div class="col-md-7 col-lg-7 col-sm-12">
                                                                <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">BenefitRecNum - (Synsoft comment - its extra)</div>
                                                                <div class="col-md-7 col-lg-7 col-sm-12">
                                                                    <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.Id" disabled />
                                                                </div>
                                                            </div> -->
                                                                            </div>
                                                                        </div>
                                                                        <!--  end id="step-2" -->

                                                                        <div class="col-md-offset-0-5" id="step-2">
                                                                            <p>
                                                                                <h3>Metadata</h3>
                                                                            </p>



                                                                            <div class="row">



                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Benefit Record No.</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.Id" disabled />
                                                                                    </div>
                                                                                </div>


                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">BenefitNum</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="number" ng-change="ChangesOccur();" id="benefitNum" name="benefitNum" class="form-control" ng-model="planBenefit.BenefitNum"
                                                                                            ng-readonly="{{readOnly}}" />
                                                                                    </div>
                                                                                </div>
                                                                            
                                                                                    <!-- <div ng-hide="hideFields">
                                                                                        <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Created Date</div>
                                                                                        <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                            <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.CreatedDateTime" ng-readonly="{{readOnly}}"
                                                                                            />
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Modified Date</div>
                                                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                                <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.ModifiedDateTime" ng-readonly="{{readOnly}}"/>
                                                                                            </div>
                                                                                    </div>
                                                                                </div> -->
                                                                            </div>
                                                                            <p>
                                                                                <h3>History</h3>
                                                                            </p>
                                                                            <div class="row">
                                                                                <div ng-hide="hideFields">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                        <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Created By</div>
                                                                                        <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                            <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="CreatedBy" ng-readonly="{{readOnly}}" />
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                        <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Modified By</div>
                                                                                        <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                            <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="ModifiedBy" ng-readonly="{{readOnly}}" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div ng-hide="hideFields">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                        <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Created Date</div>
                                                                                        <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                            <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.CreatedDateTime" ng-readonly="{{readOnly}}"
                                                                                            />
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                        <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Modified Date</div>
                                                                                        <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                            <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.ModifiedDateTime" ng-readonly="{{readOnly}}"
                                                                                            />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                                                    <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Data Source</div>
                                                                                    <div class="col-md-7 col-lg-7 col-sm-12">
                                                                                        <input type="text" ng-change="ChangesOccur();" class="form-control" ng-model="planBenefit.SourceName" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--  end id="step-1" -->



                                                                </div>

                                                            </div>
                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end cst-wizard -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end col 12-->
                    </div>
                    <!--end row-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.wizard form -->
</div>
<div ng-include src="'partials/include/footer.html'"></div>