<style>.main-container {padding-bottom:0px;}.wrapper{height:auto;}#footer{height:40px;position:relative !important;}</style>
<head>
   <title>{{title}}</title>
</head>
<div ng-include src="'partials/include/header.html'"></div>
<div class="main-container pt0" id="main-container" ng-hide="pageLoading">
   <!--Main container start-->
   <div class="row_dummy one-column grid-media-box1">
      <div class="col-md-12 pl0 pr0">
         <div class="tp-wizard-form wiz-height" id="tp-wizard-form">
            <!-- wizard form -->
            <div class="container pl0 pr0">
               <div class="row">
                  <p ng-show="flash.status" class="alert {{flash.type}}">{{flash.message}} <a class="close" ng-click="closeFlash()"><i class="fa fa-close"></i></a> </p>
                  <!-- <div class="col-md-4 pull-right">	       
                     <a style="position:absolute;right:0;z-index:9;" title="Back" class="hvr-radial-out-black btn tp-btn tp-btn-grey dropdown-toggle pull-right" href="insuranceplantype/planbenefit">Back</a>				
                     </div> -->
                  <!-- Smart Wizard -->   
                  <div class="swMain attr attr-label label-margin">
                     <div class="pb0 pt0">
                        <!-- zipcode -->
                        <div class="container pl0 pr0">
                           <div class="row_dummy">
                              <!-- <h1 class="title_planattr">{{title}}</h1> -->
                              <div class="container cst-from-container pl0 pr0">
                                 <!--new duumy grids teststruct-->
                                 <div class="row">
                                    <div class="col-md-5 col-lg-5 col-sm-12">
                                      <h1 class="title_planattr mb0">{{title}}</h1>
                                    </div>
                                    <div class="col-md-7 col-lg-7 col-sm-12 pull-right">
                                       <a title="Back" class="hvr-radial-out-black btn tp-btn tp-btn-grey dropdown-toggle pull-right ml20" href="insuranceplantype/planbenefit">Back</a>
                                       <!-- <a ng-click="viewplanbenefit()" href="javascript:void(0)" class="hvr-radial-out btn tp-btn tp-btn-blue pull-right mb20 ml20">Update</a> -->
                                       <a href="insuranceplantype/viewplanbenefit/{{NextRecord}}/{{sortby}}/{{desc}}" class="hvr-radial-out-orange btn tp-btn tp-btn-orange dropdown-toggle mb20 pull-right ml20" ng-disabled="nextButton" ><i class="fa fa-angle-double-right mr10" aria-hidden="true"></i>Next Plan Benefit</a>
                                       <a href="insuranceplantype/viewplanbenefit/{{PreviousRecord}}/{{sortby}}/{{desc}}" class="hvr-radial-out-orange btn tp-btn tp-btn-orange dropdown-toggle mb20 pull-right ml20" ng-disabled="prevButton"><i class="fa fa-angle-double-left mr10" aria-hidden="true"></i>Prev Plan Benefit</a>
                                    </div>
                                 </div>
                                 <div class="col-md-12 pl0 pr0">
                                    <div class="tp-wizard-form" id="tp-wizard-form">
                                       <!-- wizard form -->
                                       <!-- Smart Wizard -->
                                       <div class="cst-wizard">
                                          <div class="swMain">
                                             <div class="col-md-12 mb20 pl0 pr0">
                                                <div id="wizard" class="swMain test23">
                                                   <ul>
                                                      <li> <a href="#step-0"> 
                                                         <span class="stepDesc">Main<br /></span> </a> 
                                                      </li>                                                     
                                                      <li> <a href="#step-1">															
                                                         <span class="stepDesc">Notes/Reference<br /></span> </a> 
                                                      </li>
                                                      <li> <a href="#step-2">															
                                                        <span class="stepDesc">Systems<br /></span> </a> 
                                                     </li>
                                                   </ul>


                                              <div class="wiz-content-border">                                    
                                                    
                                                   <div class="col-md-offset-0-5" id="step-0">
                                                      <p> 
                                                      <h3>Key Information</h3>
                                                      </p>
                                                      <div class="row">
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Plan ID</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.PlanId" readonly />
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Plan Year</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <select ng-model="planBenefit.BusinessYear" class="form-control" disabled>
                                                                  <option value="">Select Year</option>
                                                                  <option ng-repeat="year in years" value="{{year.val}}">{{year.val}}</option>
                                                               </select>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Benefit Name</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.BenefitName" readonly/>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Issuer ID</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.IssuerId" readonly/>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">MHM Benefit ID</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <select ng-model="planBenefit.MHMBenefitId" class="form-control" disabled>
                                                                  <option ng-repeat="id in mhmBenefitIds" value="{{id.MHMBenefitID}}">{{id.MHMBenefitID}} : {{id.MHMBenefitName}}
                                                                  </option>
                                                               </select>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Is Covered</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <select ng-model="planBenefit.IsCovered" class="form-control" disabled>
                                                                  <option ng-repeat="exp in conditionalExp" value="{{exp.key}}">{{exp.val}}
                                                                  </option>
                                                               </select>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <hr>
                                                      <p> 
                                                      <h3>Cost Sharing Details</h3>
                                                      </p>
                                                      <div class="row">
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Cost Sharing Type Tier 1</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.CostSharingType1" readonly/>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Cost Sharing Type Tier 2</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.CostSharingType2" readonly/>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label"> Copay Tier 1 ($)</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.CopayInnTier1"   readonly/>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Copay Tier 2 ($)</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.CopayInnTier2"  readonly/>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">CoIns Tier 1 (%)</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.CoinsInnTier1"   readonly/>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label"> CoIns Tier 2 (%)</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.CoinsInnTier2"   readonly/>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label"> Rx Max CoIns Tier 1 ($)</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control"   readonly/>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Rx Max CoIns Tier 2 ($)</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control"   readonly/>
                                                            </div>
                                                         </div>
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Maximum Qty Before Copay </div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.MaxQtyBeforeCoPay"  readonly/>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <!--end row -->
                                                      <hr>
                                                      <p> 
                                                      <h3>Limits</h3>
                                                      </p>
                                                      <div class="row">
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Service Qty is Limited </div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <select ng-model="planBenefit.QuantLimitOnSvc" class="form-control" disabled>
                                                                  <option ng-repeat="exp in conditionalExp" value="{{exp.key}}">{{exp.val}}
                                                                  </option>
                                                               </select>
                                                            </div>
                                                         </div>                                                     

                                                      </div>
                                                      <div class="row">
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Limit Qty</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.LimitQty"  readonly/>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="row">
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Limit Unit</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.LimitUnit" readonly/>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <!--  end id="step-0" -->

                                                   <div class="col-md-offset-0-5" id="step-1">
                                                      <p> 
                                                      <h3>Notes</h3>
                                                      </p>
                                                      <div class="row">
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Benefit Notes</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.PlanBenNotes" readonly />
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="row">
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">SBC Text</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">                                                          
                                                               <textarea name="SBCText" class="form-control" ng-model="planBenefit.SBCText" cols="40" rows="6" readonly ></textarea>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="row">
                                                         <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                            <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Exclusions</div>
                                                            <div class="col-md-7 col-lg-7 col-sm-12">
                                                               <input type="text" class="form-control" ng-model="planBenefit.Exclusions" readonly/>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <!--  end id="step-2" -->

                                                   <div class="col-md-offset-0-5" id="step-2">
                                                    <p> 
                                                    <h3>Metadata</h3>
                                                    </p>
                                                    <div class="row">
                                                       <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                          <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Benefit Record No.</div>
                                                          <div class="col-md-7 col-lg-7 col-sm-12">
                                                             <input type="text" class="form-control" ng-model="planBenefit.Id" readonly />
                                                          </div>
                                                       </div>
                                                       <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                          <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">BenefitNum</div>
                                                          <div class="col-md-7 col-lg-7 col-sm-12">
                                                             <input type="text" class="form-control" ng-model="planBenefit.BenefitNum" readonly />
                                                          </div>
                                                       </div>
                                                    </div>
                                                    <p> 
                                                    <h3>History</h3>
                                                    </p>
                                                    <div class="row">
                                                       <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                          <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Created By</div>
                                                          <div class="col-md-7 col-lg-7 col-sm-12">
                                                             <input type="text" class="form-control" ng-model="CreatedBy" readonly />
                                                          </div>
                                                       </div>
                                                       <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                          <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Last Modified By</div>
                                                          <div class="col-md-7 col-lg-7 col-sm-12">
                                                             <input type="text" class="form-control" ng-model="ModifiedBy" readonly/>
                                                          </div>
                                                       </div>
                                                       <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                          <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Created Date</div>
                                                          <div class="col-md-7 col-lg-7 col-sm-12">
                                                             <input type="text" class="form-control" ng-model="planBenefit.CreatedDateTime" readonly />
                                                          </div>
                                                       </div>
                                                       <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                          <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">  Modified Date </div>
                                                          <div class="col-md-7 col-lg-7 col-sm-12">
                                                             <input type="text" class="form-control" ng-model="planBenefit.ModifiedDateTime" readonly/>
                                                          </div>
                                                       </div>
                                                       <div class="col-md-5 col-lg-5 col-sm-12 dummy">
                                                          <div class="col-md-5 col-lg-5 col-sm-12 text-right control-label">Data Source</div>
                                                          <div class="col-md-7 col-lg-7 col-sm-12">
                                                             <input type="text" class="form-control" ng-model="planBenefit.SourceName" readonly/>
                                                          </div>
                                                       </div>
                                                    </div>
                                                    </div>
                                                   <!--  end id="step-1" -->

                                             </div>    





                                                </div>
                                                
                                             </div>
                                          </div>
                                       </div>
                                       <!-- end cst-wizard -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--end col 12-->           
            </div>
            <!--end row-->
         </div>
      </div>
   </div>
</div>
<!-- /.wizard form --> 
</div>
<div ng-include src="'partials/include/footer.html'"></div>