<div ng-include src="'partials/include/header.html'"></div>
	<div class="main-container pt0"><!--Main container start-->
    <div class="tp-wizard-form"><!-- wizard form -->
      <div class="container">
        Home Loading               
      </div>
    </div>
    <!-- /.wizard form --> 
  </div>
  
  <div ng-include src="'partials/include/header.html'"></div>
	<div class="main-container pt0"><!--Main container start-->
    <div class="tp-wizard-form"><!-- wizard form -->
      <div class="container">
        Home Loading               
      </div>
    </div>
    <!-- /.wizard form --> 
  </div>
<div class="test34" ng-include src="'partials/include/footer.html'"></div><div class="55" ng-include src="'partials/include/footer.html'"></div>
<div class="test34" ng-include src="'partials/include/footer.html'"></div>