<!-- /.footer -->






<div id="footer" class="testingfooter"><!-- footer -->
  <div class="container">    
      <div class="col-md-12 copyright-text text-center"><!-- copyright text --> 
        Copyright  2018 MyHealthMath | All Rights Reserved</div>
      <!-- /.copyright text -->
      <!-- <div class="col-md-6 tiny-ft-links text-right">
				<ul class="social-menu">
          <li><a href="#" class="social-box facebook"><i class="fa fa-facebook-square"></i>&nbsp;Facebooks</a></li>
          <li><a href="#" class="social-box google"><i class="fa fa-twitter-square"></i>&nbsp;Twitter</a></li>
          <li><a href="#" class="social-box twitter"><i class="fa fa-google-plus-square"></i>&nbsp;Google</a></li>
          <li><a href="#" class="social-box linkedin"><i class="fa fa-linkedin-square"></i>&nbsp;Linkedin</a></li>
        </ul>
      </div> -->
      <!-- /.tiny ft links -->     
  </div>
</div>


<!-- <footer id="footer" class="testingfooter">
<div class="container">
  <div class="row">
	<div class="col-md-12 copyright-text text-center"><!-- copyright text --> 
	<!-- <h5> MyHealthMath | All Rights Reserved@2016</h5></div> -->
	<!-- /.copyright text -->
<!--	<div class="col-md-6 tiny-ft-links">
	  <ul class="pull-right">
		<li><a href="#" class="color_white">Site Map</a></li>
		<li><a href="#" class="color_white">Privacy Policy</a></li>
		<li><a href="#" class="color_white">Terms of Use Security</a></li>
	  </ul>
	</div>-->
	<!-- /.tiny ft links --> 
  <!-- </div>
</div> -->
<!-- </footer>  /.Tiny footer -->
<script type="text/javascript">
$(".menuitem").click(function(){
	$(".menuitem").removeClass("activemenu");
	$(this).addClass("activemenu");
});	
</script>